<template>
    <v-navigation-drawer
        v-model="localDrawer"
        temporary
        :expand-on-hover="true"
        :mini-variant="true"
        app
        clipped
        overlay-opacity="0.8"
    >
        <v-list dense>
            <v-list-item
                v-for="link in links"
                :key="link.title"
                link
                :to="link.url"
                :disabled="loading"
            >
                <v-list-item-action>
                    <v-icon>{{ link.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>{{ link.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
export default {
    props: ["links", "drawer"],
    data() {
        return {
            localDrawer: this.drawer
        };
    },
    watch: {
        drawer: function() {
            this.localDrawer = this.drawer;
        },
        localDrawer: function() {
            this.$emit("drawerUpdated", this.localDrawer);
        }
    },
    computed: {
        loading() {
            return this.$store.getters.loading;
        }
    }
};
</script>
<style scoped>
.theme--dark.v-navigation-drawer {
    background-color: rgb(39, 39, 39);
}
</style>