<template>
    <v-footer dark padless>
        <div class="payment_methods">
            <div class="methods">
                <img src="@/assets/pay_qiwi.png" alt class="method" />
                <img src="@/assets/pay_bitcoin.png" alt class="method" />
                <img src="@/assets/pay_cards.png" alt class="method" />
                <img src="@/assets/pay_paypal.png" alt class="method" />
                <img src="@/assets/pay_ya.png" alt class="method" />
                <img src="@/assets/pay_payeer.png" alt class="method" />
            </div>
        </div>
        <div class="my-container">
            <div class="my-info">
                <router-link tag="a" :to="'/'" class="brand">
                    <span>AV</span>
                    <span class="material-icons">language</span>
                    <span>PROXY</span>
                </router-link>
                <ul class="my-links">
                    <li v-for="link of links" :key="link.title" :to="link.url">
                        <router-link tag="a" :to="link.url">{{link.title}}</router-link>
                    </li>
                </ul>
                <div class>
                    <h4>Technical support:</h4>
                    <p class="support_email">support@avoproxy.com</p>
                </div>
            </div>
        </div>
    </v-footer>
</template>
<script>
export default {
    props: ["links"]
};
</script>
<style scoped>
.my-container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.payment_methods {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    border-top: 3px solid rgba(34, 34, 34, 0.9);
    border-bottom: 3px solid rgba(34, 34, 34, 0.9);
}
.methods {
    width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.method {
    filter: grayscale(37%);
    transform: scale(0.7);
}
.my-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    word-spacing: -10px;
    font-size: 34px;
    color: #fff;
}
.my-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    width: 550px;
}
.support_email {
    background-color: #000;
    padding: 7px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #fff !important;
}
ul {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}
span.material-icons {
    font-size: 35px;
}
</style>