<template>
    <v-app-bar app clipped-left color="red" dense>
        <v-app-bar-nav-icon @click="changeDrawer"></v-app-bar-nav-icon>
        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn text v-for="link of links" :key="link.title" :to="link.url" :disabled="loading">
                <v-icon left>{{link.icon}}</v-icon>
                {{link.title}}
            </v-btn>
        </v-toolbar-items>
    </v-app-bar>
</template>
<script>
export default {
    props: ["links"],
    methods: {
        changeDrawer() {
            this.$emit("drawerUpdated");
        }
    },
    computed: {
        loading() {
            return this.$store.getters.loading;
        }
    }
};
</script>
<style scoped>
span.material-icons {
    font-size: 35px;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    word-spacing: -10px;
    font-size: 34px;
    color: #fff;
    text-decoration: none;
}
</style>