<template>
    <div class="menu_background top_menu">
        <router-link tag="a" :to="'/'" class="brand">
            <span>AV</span>
            <span class="material-icons">language</span>
            <span>PROXY</span>
        </router-link>
        <div class="user_block" v-if="isUserLoggedIn">
            <template v-if="!loading">
                <div class="user_balance">{{user.balance + " " + user.currency}}</div>
                <div class="user_container">
                    <div class="username">{{user.name}}</div>
                    <div class="user_img">
                        <img src="@/assets/user-img.jpg" alt />
                    </div>
                </div>
                <v-btn text @click="logOut">
                    <v-icon left>exit_to_app</v-icon>
                </v-btn>
            </template>
            <template v-else>
                <v-progress-circular :size="40" :width="4" indeterminate color="error"></v-progress-circular>
                <div class="user_img">
                    <img src="@/assets/user-img.jpg" alt />
                </div>
                <v-btn text @click="logOut" :disabled="loading">
                    <v-icon left>exit_to_app</v-icon>
                </v-btn>
            </template>
        </div>
        <div v-else-if="!isUserLoggedIn && loading" class="user_block">
            <v-progress-circular :size="40" :width="4" indeterminate color="error"></v-progress-circular>
            <v-btn text @click="logOut" :disabled="loading">
                <v-icon left>exit_to_app</v-icon>
            </v-btn>
        </div>
    </div>
</template>
<script>
export default {
    computed: {
        user() {
            return this.$store.getters.user;
        },
        isUserLoggedIn() {
            return this.$store.getters.isUserLoggedIn;
        },
        loading() {
            return this.$store.getters.loading;
        }
    },
    methods: {
        logOut() {
            this.$store
                .dispatch("logoutUser")
                .then(() => this.$router.push("/"))
                .catch(() => {});
        }
    }
};
</script>
<style scoped>
.menu_background.top_menu {
    height: 56px;
    background-color: rgba(39, 39, 39, 0.9);
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.material-icons {
    font-size: 35px;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    word-spacing: -10px;
    font-size: 34px;
    color: #fff;
    text-decoration: none;
}
.user_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-right: 25px;
}
.user_img {
    margin: 0 15px;
}
.user_img img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #f44336;
}

.user_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user_balance {
    font-size: 20px;
    margin: 0 15px;
}
.v-application--is-ltr .v-btn__content .v-icon--left {
    margin: 0 !important;
}
.v-btn:not(.v-btn--round).v-size--default {
    min-width: 48px;
}
</style>