<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md6>
                <v-card class="elevation-12">
                    <v-toolbar dark color="red">
                        <v-toolbar-title>Registration form</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-form ref="form" v-model="valid" lazy-validation>
                            <v-text-field
                                :loading="loading"
                                prepend-icon="person"
                                name="email"
                                label="Email"
                                type="email"
                                v-model="email"
                                :rules="emailRules"
                            ></v-text-field>
                            <v-text-field
                                :loading="loading"
                                prepend-icon="person"
                                name="username"
                                label="Username"
                                type="text"
                                v-model="username"
                                :rules="usernameRules"
                            ></v-text-field>
                            <v-text-field
                                prepend-icon="lock"
                                name="password"
                                label="Password"
                                id="password"
                                type="password"
                                maxlength="6"
                                :counter="6"
                                v-model="password"
                                :rules="passwordRules"
                                ref="password"
                            ></v-text-field>
                            <v-text-field
                                prepend-icon="lock"
                                name="passwordConfirm"
                                label="Confirm password"
                                type="password"
                                maxlength="6"
                                :counter="6"
                                v-model="confirmPassword"
                                :rules="confirmRules"
                            ></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            @click="onSubmit"
                            :loading="loading"
                            :disabled="!valid || loading"
                        >Create Account</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    data() {
        return {
            email: "",
            password: "",
            confirmPassword: "",
            username: "",
            valid: false,
            emailRules: [
                v => !!v || "E-mail is required",
                v =>
                    /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                    "E-mail must be valid"
            ],
            passwordRules: [
                v => !!v || "Password is required",
                v =>
                    (v && v.length >= 6) ||
                    "Password must be no less than 6 characters"
            ],
            confirmRules: [
                v => !!v || "Confirm password",
                v =>
                    v == this.password ||
                    "Passwords are different. They should be equal!"
            ],
            usernameRules: [
                v => !!v || "Username is required",
                v =>
                    (v && v.length >= 6) ||
                    "Username must be no less than 6 characters"
            ]
        };
    },
    computed: {
        loading() {
            return this.$store.getters.loading;
        }
    },
    methods: {
        onSubmit() {
            if (this.$refs.form.validate()) {
                const user = {
                    email: this.email,
                    username: this.username,
                    password: this.password
                };
                this.$store
                    .dispatch("registerUser", user)
                    .then(() => this.$router.push("/"))
                    .catch(() => {});
            }
        }
    }
};
</script>