<template>
    <div class="my-container">
        <h2 class="h2_setcion">ABOUT US</h2>
        <h3
            class="our_offer"
        >We provide secure and anonymous proxy. High-performance and high-speed channel of service allow our customers to work 24/7 with us without worrying about crashes and any problems</h3>
        <div class="advantages_container">
            <div class="advantages_left_subcontainer">
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">call</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Support 24/7</h3>
                            <p>Our specialists will be glad to help you via mail or online-chat</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">grade</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Individual IPv4 proxy</h3>
                            <p>The first widely used version. It works stable with all sites in the network</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">grade</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Individual IPv6 proxy</h3>
                            <p>New generation of IP-addresses. They are suitable for work with most social networks</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">person_add</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Affiliate program</h3>
                            <p>You will get 20% from each referrals purchase for lifelong</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">swap_horiz</span>
                        </div>
                        <div class="advantage_text">
                            <h3>HTTP & SOCKS protocols</h3>
                            <p>Our proxies are able to connect on the network by protocols HTTP(s) and SOCKS</p>
                        </div>
                    </div>
                </v-card>
            </div>
            <div class="advantages_right_subcontainer">
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">attach_money</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Easy ways to pay</h3>
                            <p>We have more than 50 ways of payment, these systems are safe and time-tested</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">grade</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Shared IPv4 proxy</h3>
                            <p>It has similar functions with IPv4 proxy, but it can used by three people</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">settings</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Automatically getting addresses</h3>
                            <p>Get addresses in your personal account immediately after the payment</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">loop</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Return purchase within 24 hours</h3>
                            <p>You can return proxies within 24 hours after your payment, if they are unsuitable for you for any reasons</p>
                        </div>
                    </div>
                </v-card>
                <v-card dark :color="'rgba(18, 18, 18, 1)'" :hover="true">
                    <div class="advantage_element">
                        <div class="advantage_icon">
                            <span class="material-icons">lock</span>
                        </div>
                        <div class="advantage_text">
                            <h3>Authorization by IP address</h3>
                            <p>You are able to manage IP authorization of your proxies in your personal account. It's simply and safely!</p>
                        </div>
                    </div>
                </v-card>
            </div>
        </div>
    </div>
</template>
<script>
export default {};
</script>
<style scoped>
.my-container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.h2_setcion {
    margin: 15px 0;
    font-weight: bold;
    font-size: 30px;
}
.our_offer {
    font-size: 18px;
    font-weight: 400;
}
.advantages_container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}
.advantage_element {
    margin: 5px 10px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align-last: left;
}

.advantage_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.advantage_icon .material-icons {
    font-size: 40px;
    padding: 15px;
    border: 3px solid rgba(248, 97, 86, 0.5);
    color: rgba(248, 97, 86, 0.5);
    border-radius: 50%;
    transition: all 0.7s ease;
}

.advantage_element:hover > .advantage_icon .material-icons {
    border: 3px solid rgb(244, 67, 54);
    color: rgb(244, 67, 54);
}

.advantage_text {
    padding: 0px 0px 0px 20px;
}

.advantage_text h3 {
    font-size: 24px;
}

.advantage_text p3 {
    font-size: 16px;
}
.advantages_left_subcontainer {
    width: 525px;
}

.advantages_right_subcontainer {
    width: 525px;
}
.v-card--hover:focus,
.v-card--hover:hover {
    -webkit-box-shadow: 0 5px 5px -3px rgba(206, 37, 37, 0.2),
        0 8px 10px 1px rgba(244, 0, 0, 0.14),
        0 3px 14px 2px rgba(255, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(255, 0, 0, 0.2),
        0 8px 10px 1px rgba(255, 0, 0, 0.14),
        0 3px 14px 2px rgba(255, 0, 0, 0.12);
    background-color: rgb(25, 25, 25) !important;
    cursor: default;
}
</style>