<template>
    <div class="my-wrap">
        <div class="my-container">
            <my-buy-card
                :countries="countries.IPv6"
                :periods="periods.IPv6"
                :protocols="protocols"
                :type="'IPv6'"
                :version="'6'"
            ></my-buy-card>
            <my-buy-card
                :countries="countries.IPv4s"
                :periods="periods.IPv4s"
                :protocols="protocols"
                :type="'IPv6 SHARED'"
                :version="'3'"
            ></my-buy-card>
            <my-buy-card
                :countries="countries.IPv4"
                :periods="periods.IPv4"
                :protocols="protocols"
                :type="'IPv4'"
                :version="'4'"
            ></my-buy-card>
        </div>
    </div>
</template>

<script>
import BuyCard from "./BuyCard";
export default {
    data: () => ({
        countries: {
            IPv6: [
                "United States",
                "Ukraine",
                "Russia",
                "Germany",
                "France",
                "United Kingdom",
                "Singapore",
                "Netherlands",
                "Australia"
            ],
            IPv4: [
                "United States",
                "Ukraine",
                "Russia",
                "Germany",
                "France",
                "United Kingdom",
                "Singapore",
                "Netherlands",
                "Australia"
            ],
            IPv4s: ["United States", "Russia", "Canada"]
        },
        periods: {
            IPv6: ["3 Days", "1 Week", "2 Weeks", "1 Month"],
            IPv4: ["1 Month"],
            IPv4s: ["1 Month"]
        },
        protocols: ["HTTPs", "SOCKS5"]
    }),
    components: {
        myBuyCard: BuyCard
    }
};
</script>
<style scoped>
.my-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1170px;
}
.my-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>