<template>
    <div class="proxy_type_container">
        <div class="proxy_type">{{type}} PROXY</div>
        <div class="description">
            Suitable for
            <b>all</b> sites and
            <b>all</b> purposes. VK.com, Yandex, Google, OK.ru, Craigslist, OLX, Wordstat, Key Collector
        </div>
        <div class="users_count">Individual use. In one hand</div>
        <v-form class="form" ref="form" v-model="valid" lazy-validation>
            <div class="flex-container">
                <v-select
                    dense
                    :items="countries"
                    label="Country"
                    :rules="selectRules"
                    v-model="country"
                ></v-select>
            </div>
            <div class="flex-container">
                <v-text-field
                    label="Count"
                    hide-details
                    :outlined="true"
                    dense
                    v-model.number="count"
                    type="number"
                    :min="1"
                    :max="25"
                    :pattern="'^[ 0-9]+$'"
                    @change="getPrice"
                ></v-text-field>
            </div>
            <div class="flex-container">
                <v-select
                    dense
                    dark
                    :items="periods"
                    label="Period"
                    :rules="selectRules"
                    v-model="period"
                    @change="getPrice"
                ></v-select>
            </div>
            <div class="flex-container">
                <v-select
                    dense
                    dark
                    :items="protocols"
                    label="Protocol"
                    :rules="selectRules"
                    v-model="protocol"
                ></v-select>
            </div>
            <div class="flex-container">
                <v-text-field
                    label="Price"
                    :outlined="true"
                    readonly
                    dense
                    :loading="loading"
                    :hide-details="true"
                    v-model="price"
                ></v-text-field>
            </div>
            <v-btn class="buy_btn" :disabled="!valid" @click="submitForm">Buy</v-btn>
        </v-form>
    </div>
</template>
<script>
export default {
    props: ["type", "countries", "periods", "protocols", "version"],
    data() {
        return {
            country: null,
            count: 1,
            period: null,
            protocol: null,
            price: "0 ₽",
            loading: false,
            valid: false,
            selectRules: [v => !!v || "Option is not selected"]
        };
    },
    computed: {
        success() {
            return this.$store.getters.success;
        }
    },
    methods: {
        async submitForm() {
            if (this.$refs.form.validate()) {
                let orderParams = this.getOrderParams();
                await this.$store.dispatch("buyProxy", orderParams);
            }
        },
        async getPrice() {
            if (this.count > 25) this.count = 25;
            if (this.period !== null) {
                this.loading = true;
                let orderParams = this.getOrderParams();
                let response = await this.$store.getters.user.api.getPrice(
                    orderParams.count,
                    orderParams.period,
                    orderParams.version
                );
                this.price = response.price + ` ₽`;
                this.loading = false;
            }
        },
        getOrderParams() {
            return {
                count: this.count,
                period: this.transformPeriod(this.period),
                country: this.transformCounty(this.country),
                version: this.version,
                protocol: this.transformProtocol(this.protocol)
            };
        },
        transformCounty(country) {
            switch (country) {
                case "United States":
                    return "us";
                    break;
                case "Ukraine":
                    return "ua";
                    break;
                case "Russia":
                    return "ru";
                    break;
                case "Germany":
                    return "de";
                    break;
                case "France":
                    return "fr";
                    break;
                case "United Kingdom":
                    return "gb";
                    break;
                case "Singapore":
                    return "sg";
                    break;
                case "Netherlands":
                    return "nl";
                    break;
                case "Australia":
                    return "au";
                    break;
                case "Canada":
                    return "ca";
                    break;
            }
        },
        transformPeriod(period) {
            switch (period) {
                case "3 Days":
                    return "3";
                    break;
                case "1 Week":
                    return "7";
                    break;
                case "2 Weeks":
                    return "14";
                    break;
                case "1 Month":
                    return "30";
                    break;
            }
        },
        transformProtocol(protocol) {
            switch (protocol) {
                case "HTTPs":
                    return "http";
                    break;
                case "SOCKS5":
                    return "socks";
                    break;
            }
        }
    }
};
</script>
<style scoped>
.buy_btn {
    width: 100%;
}
.v-text-field.v-text-field--enclosed .v-text-field__details,
.v-text-field__details {
    display: none !important;
}
.proxy_type_container {
    text-align: center;
    position: relative;
    border-radius: 8px;
    background-color: rgb(30, 30, 30);
    width: 335px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proxy_type {
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(213, 42, 42, 0.28);
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    padding: 4px 0px;
}

.description {
    border: 1px solid rgba(213, 42, 42, 0.28);
    width: 100%;
    line-height: 1.2;
    font-size: 13px;
    padding: 4px 0px;
}

.form {
    border: 1px solid rgba(213, 42, 42, 0.28);
    border-radius: 0 0 8px 8px;
    width: 100%;
}

.users_count {
    color: #d72284;
    border: 1px solid rgba(213, 42, 42, 0.28);
    padding: 4px 0px;
    width: 100%;
    font-size: 15px;
}

.users_count.special_color {
    color: #ff9100e3;
}

.flex-container {
    border-bottom: 1px solid rgba(213, 42, 42, 0.28);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buy_submit {
    cursor: pointer;
    font-size: 18px;
    border-radius: 0 0 8px 8px;
    height: 38px;
    width: 100%;
}

.flex-container .text_container {
    border-radius: 8px;
    border: 1px solid rgba(213, 42, 42, 0.28);
    padding: 0 9px;
    text-align: center;
    justify-content: center;
}

.notice {
    font-size: 20px;
    background-color: rgba(34, 34, 34, 0.9);
    margin: 50px auto 0;
    width: 1050px;
    padding: 10px 36px;
    text-align: center;
}

.update_price {
    position: absolute;
    top: 6px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>