<template>
    <div class="my-wrap">
        <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-container row>
                    <v-text-field
                        prepend-icon="person"
                        name="name"
                        label="Your name"
                        type="text"
                        v-model="name"
                        :counter="30"
                        :rules="nameRules"
                    ></v-text-field>
                    <v-text-field
                        prepend-icon="mail"
                        name="email"
                        label="Email"
                        type="email"
                        v-model="email"
                        :rules="emailRules"
                    ></v-text-field>
                </v-container>
                <v-container row>
                    <v-text-field
                        prepend-icon="gps_not_fixed"
                        name="subject"
                        label="Your subject"
                        type="text"
                        :counter="50"
                        v-model="subject"
                        :rules="subjectRules"
                    ></v-text-field>
                    <v-text-field
                        prepend-icon="supervisor_account"
                        name="companyName"
                        label="Company Name"
                        type="text"
                        :counter="20"
                        v-model="companyName"
                        :rules="companyNamedRules"
                    ></v-text-field>
                </v-container>
                <v-container row>
                    <v-textarea
                        name="message"
                        label="Your message"
                        type="text"
                        :counter="2000"
                        v-model="message"
                        :rules="messageRules"
                    ></v-textarea>
                </v-container>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="onSubmit" :disabled="!valid">Send message</v-btn>
        </v-card-actions>
    </div>
</template>
<script>
export default {
    data() {
        return {
            name: "",
            email: "",
            subject: "",
            companyName: "",
            message: "",
            valid: false,
            nameRules: [
                v => !!v || "Name is required",
                v =>
                    (v && v.length <= 30) ||
                    "Name should be less than 30 characters"
            ],
            emailRules: [
                v => !!v || "E-mail is required",
                v =>
                    /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                    "E-mail must be valid"
            ],
            companyNamedRules: [
                v => !!v || "Company name is required",
                v =>
                    (v && v.length <= 20) ||
                    "Company name should be less than 20 characters"
            ],
            subjectRules: [
                v => !!v || "Subject is required",
                v =>
                    (v && v.length <= 50) ||
                    "Subject should be less than 50 characters"
            ],
            messageRules: [
                v => !!v || "Message is required",
                v =>
                    (v && v.length <= 2000) ||
                    "Message should be less than 2000 characters"
            ]
        };
    },
    methods: {
        onSubmit() {
            if (this.$refs.form.validate()) {
                let clientRequestData = {
                    name: this.name,
                    email: this.email,
                    subject: this.subject,
                    companyName: this.companyName,
                    message: this.message
                };
                console.log(clientRequestData);
            }
        }
    }
};
</script>
<style scoped>
.v-card__text {
    width: 922px;
}
.my-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.theme--dark.v-input,
.theme--dark.v-input input {
    margin: 0 25px;
}
</style>