<template>
    <div class="my-container">
        <div class="h2_setcion">GENERAL ISSUES</div>
        <div class="outter_issue">
            <v-treeview
                @update:open="closeOther($event)"
                :open="open"
                :items="items"
                :open-on-click="true"
            >
                <template slot="label" slot-scope="{ item }">
                    <div>{{ item.name }}</div>
                </template>
            </v-treeview>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        closeOther(openedItems) {
            if (this.open[0] === openedItems[openedItems.length - 1]) {
                return;
            }
            this.open = [];
            this.open.push(openedItems[openedItems.length - 1]);
        }
    },
    data: () => ({
        open: [],
        items: [
            {
                id: 1,
                name: "Why use a proxy?",
                children: [
                    {
                        id: 2,
                        name: `Changing IP and DNS - You can hide your real IP address and DNS just by connecting a proxy;`
                    },
                    {
                        id: 3,
                        name: `Anonymity in the network - Anonymous and secure use of the Internet, hiding Internet activity from your provider;`
                    },
                    {
                        id: 4,
                        name: `Bypass locks - Removing service restrictions by IP, GEO data, port and protocol. Your internet becomes free;`
                    }
                ]
            },
            {
                id: 5,
                name:
                    "How long does it take to receive proxy after the payment?",
                children: [
                    {
                        id: 6,
                        name: `You receive the proxy automatically after the payment was made;`
                    },
                    {
                        id: 7,
                        name: `If the proxy doesn’t show in your personal account page, please contact our tech support.`
                    }
                ]
            },
            {
                id: 8,
                name:
                    "What are the differences between your and competitors proxies?",
                children: [
                    {
                        id: 9,
                        name: `Our proxies are provided individually to each customer and not for public use;`
                    },
                    {
                        id: 10,
                        name: `We assure you are the only users of the IP addresses you purchase from us, also those IP addresses are used for your purposes only;`
                    },
                    {
                        id: 11,
                        name: `Our proxies can be used for different social networks without any restrictions;`
                    }
                ]
            },
            {
                id: 12,
                name: "Is the 25 port open?",
                children: [
                    {
                        id: 13,
                        name: `No, 25 port is closed. Email delivery is disabled;`
                    }
                ]
            },
            {
                id: 14,
                name:
                    "Can be accessed through proxy websites from the registry of banned sites Roskomnadzor?",
                children: [
                    {
                        id: 15,
                        name: `No, from 1 November 2017, access to them through a proxy is closed;`
                    }
                ]
            },
            {
                id: 16,
                name: "Is Steam available through a proxy?",
                children: [
                    {
                        id: 17,
                        name: `No, Steam is blocked in our networks;`
                    }
                ]
            },
            {
                id: 18,
                name: "What is the minimum rental period for proxy?",
                children: [
                    {
                        id: 19,
                        name: `The minimum rental period for a IPv6 proxy is 3 days;`
                    },
                    {
                        id: 20,
                        name: `The minimum rental period for a IPv4 / IPv4 Shared proxy is 30 days;`
                    }
                ]
            },
            {
                id: 21,
                name: "Are IPv6 proxies suitable for parsing?",
                children: [
                    {
                        id: 22,
                        name: `IPv6 proxies are not suitable for parsing wordstat and software like keycollector as wordstat doesn’t support IPv6 protocol;`
                    }
                ]
            },
            {
                id: 23,
                name: "Are IPv6 worse than IPv4?",
                children: [
                    {
                        id: 24,
                        name: `No, only not all sites support IPv6 protocol;`
                    }
                ]
            },
            {
                id: 25,
                name: "What is the speed of the proxy?",
                children: [
                    {
                        id: 26,
                        name: `IPv4 - 10 Mbit/s;`
                    },
                    {
                        id: 27,
                        name: `IPv4 shared - 10 Mbit/s;`
                    },
                    {
                        id: 29,
                        name: `IPv6 - 30 Mbit/s;`
                    }
                ]
            }
        ]
    })
};
</script>
<style scoped>
.outter_issue {
    text-align: left;
}
</style>
<style>
.v-treeview-node__root .v-treeview-node__label {
    font-size: 20px;
}
.v-treeview-node__children .v-treeview-node__label {
    font-size: 16px;
}
.h2_setcion {
    margin: 15px 0;
    font-weight: bold;
    font-size: 30px;
}
.my-container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
</style>