<template>
    <div class="my-wrap">
        <div class="my-container">
            <h1 class="slogan">
                Take privacy
                <br />into your hands
            </h1>
            <router-link tag="a" class="buy_proxy_button" :to="'/buy'">Buy Proxy!</router-link>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        getProxy() {
            this.$store.dispatch("getProxy");
        }
    }
};
</script>
<style scoped>
.my-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    background: url("~@/assets/server-hosting-red.png") no-repeat center
        top/cover;
}
.my-container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.slogan {
    font-size: 126px;
    line-height: 0.85;
    text-shadow: 0.05em 0 #8c0c03;
}
.buy_proxy_button {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 100px auto auto;
    width: 170px;
    padding: 7px 10px;
    border-radius: 15px;
    background-color: white;
    color: #f44336;
}
</style>