<template>
    <div>
        <my-proxy-list
            :proxyList="filteredProxyList"
            @showSettingsUpdated="showSettingsUpdated"
            class="mt-12 mb-12"
        ></my-proxy-list>
    </div>
</template>
<script>
import ProxyList from "./Proxy/ProxyList.vue";

export default {
    data() {
        return {
            byVersion: null,
            byType: null
        };
    },
    computed: {
        filteredProxyList() {
            if (!this.$store.getters.user) return false;
            return this.$store.getters.proxyList.filter(proxy => {
                return (
                    (this.byType === null ||
                        this.byType === "None" ||
                        proxy.type === this.byType) &&
                    (this.byVersion === null ||
                        this.byVersion === "None" ||
                        proxy.version === this.byVersion)
                );
            });
        }
    },
    components: {
        myProxyList: ProxyList
    },
    methods: {
        showSettingsUpdated(params) {
            this.byVersion = params.selectedVersion;
            this.byType = params.selectedType;
        }
    }
};
</script>