<template>
    <div class="wrap">
        <img src="@/assets/404-page.png" alt />
        <v-btn color="rgba(244, 67, 54, 1)" to="/">Go to homepage</v-btn>
    </div>
</template>
<script>
export default {};
</script>
<style scoped>
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
</style>