<template>
    <div class="wrap">
        <div class="my-container">
            <div class="prices_container">
                <my-price-card :proxyType="'IPv6'" :prices="ipv6Prices" :period="period"></my-price-card>
                <my-price-card :proxyType="'IPv4 SHARED'" :prices="ipv4sPrices" :period="period"></my-price-card>
                <my-price-card :proxyType="'IPv4'" :prices="ipv4Prices" :period="period"></my-price-card>
            </div>
        </div>
    </div>
</template>
<script>
import PriceCard from "./PriceCard";

export default {
    data() {
        return {
            ipv6Prices: ["3.6 ₽", "6.72 ₽", "12.6 ₽", "25.2 ₽"],
            ipv4Prices: ["-", "-", "-", "69.9 ₽"],
            ipv4sPrices: ["-", "-", "-", "33.0 ₽"],
            period: ["3 days", "1 week", "2 weeks", "1 month"]
        };
    },
    components: {
        myPriceCard: PriceCard
    }
};
</script>
<style scoped>
.wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.my-container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.prices_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
</style>