<template>
    <div class="price_container">
        <h2 class="type_proxy">{{proxyType}} PROXY</h2>
        <h2 class="price_for_one_ip">
            PRICE FOR
            <span>ONE</span> IP
        </h2>
        <div class="prices">
            <div class="price" v-for="(price, index) in prices" :key="index">
                <div class="cicle">{{period[index]}}</div>
                <div class="price_value">{{price}}</div>
            </div>
        </div>
        <h2 class="country">Country</h2>
        <div class="countries">
            US | RU | GE | UA | FR
            <br />AU | SG | GB | JP | NL
        </div>
    </div>
</template>
<script>
export default {
    props: ["proxyType", "prices", "period"]
};
</script>
<style scoped>
.price_container {
    width: 31%;
    transition: all 0.5s ease;
}

.price_container:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.type_proxy {
    font-size: 35px;
    border-radius: 50px 50px 0 0;
}

.price_for_one_ip {
    font-size: 24px;
}

.price_for_one_ip span {
    color: #f44336;
}

.prices {
    display: flex;
    justify-content: space-around;
}

.price {
    background-color: rgba(43, 45, 51, 0.9);
    width: 25%;
}

.price div {
    font-size: 24px;
}

.price_value,
.countries,
.price_for_one_ip {
    background-color: #1f1e23;
    padding: 20px 0;
}

.type_proxy,
.country,
.cicle {
    background-color: rgba(43, 45, 51, 0.9);
    padding: 20px 0;
}

.country {
    font-size: 24px;
}

.countries {
    font-size: 18px;
    word-spacing: 19px;
    border-radius: 0 0 50px 50px;
}
</style>