<template>
    <div class="wrap">
        <div class="buttons_container_renew">
            <v-select
                color="#632ad5"
                dense
                outlined
                hide-details
                dark
                :loading="renewLoading"
                :items="periods"
                label="Renew"
                v-model="period"
                :disabled="disabled || localDisabled"
                @change="renew"
            ></v-select>
        </div>
        <v-btn
            dark
            color="#632ad5"
            outlined
            :disabled="disabled || localDisabled"
            :loading="deleteLoading"
            class="text-capitalize"
            @click="deleteSelected"
        >Delete</v-btn>
        <div class="buttons_container_protocol">
            <v-select
                color="#632ad5"
                dense
                outlined
                hide-details
                dark
                :items="protocols"
                :loading="protocolLoading"
                label="Change Protocol"
                v-model="protocol"
                :disabled="disabled || localDisabled"
                @change="changeProtocol"
            ></v-select>
        </div>
    </div>
</template>
<script>
export default {
    props: ["disabled"],
    data() {
        return {
            periods: ["3 Days", "1 Week", "2 Weeks", "1 Month"],
            protocols: ["HTTPs", "SOCKS5"],
            period: null,
            protocol: null,
            localDisabled: false,
            renewLoading: false,
            deleteLoading: false,
            protocolLoading: false
        };
    },
    methods: {
        changeProtocol() {
            this.localDisabled = true;
            this.protocolLoading = true;
            this.$store.dispatch("changeProtocol", this.protocol).then(() => {
                this.$store.commit("unselectAllItems");
                this.protocol = null;
                this.localDisabled = false;
                this.protocolLoading = false;
            });
        },
        renew() {
            this.localDisabled = true;
            this.renewLoading = true;
            this.$store.dispatch("renewProxy", this.period).then(() => {
                this.$store.commit("unselectAllItems");
                this.period = null;
                this.localDisabled = false;
                this.renewLoading = false;
            });
        },
        deleteSelected() {
            this.localDisabled = true;
            this.deleteLoading = true;
            let selectedItems = this.$store.getters.selectedProxyIndexes;
            this.$store
                .dispatch("deleteProxy", selectedItems.proxyIds)
                .then(() => {
                    this.$store.commit("unselectAllItems");
                    this.localDisabled = false;
                    this.deleteLoading = false;
                });
        }
    }
};
</script>
<style scoped>
.wrap {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.v-btn
    .v-btn--depressed
    .v-btn--flat
    .v-btn--outlined
    .theme--dark
    .v-size--default
    .primary--text {
    margin: 0 10px;
    height: 38px;
}
.v-btn:not(.v-btn--round).v-size--default {
    margin: 0 10px;
}
.buttons_container_renew {
    width: 115px;
}
.buttons_container_protocol {
    width: 170px;
}
</style>