<template>
    <div class="wrap">
        <div v-if="proxyList">
            <myMassActions :disabled="itemsNotSelected"></myMassActions>
            <div class="list_wrap">
                <myProxyDescription
                    @showSettings="changeShow"
                    @switchChanged="seletcProxies"
                    :allSelected="allSelected"
                    :itemsCount="proxyList.length === 0"
                ></myProxyDescription>
                <myProxyItem
                    v-for="proxy in resultItems"
                    :key="proxy.id"
                    :proxy="proxy"
                    :proxyId="proxy.id"
                ></myProxyItem>
                <v-pagination
                    v-if="proxyList.length != 0"
                    v-model="pagination.page"
                    :length="pageCount"
                    @next="nextPage"
                    @previous="previousPage"
                    class="mt-12"
                ></v-pagination>
            </div>
            <h1
                class="no_items"
                v-show="proxyList.length === 0"
            >Proxies with selected params not found</h1>
            <transition name="moveInUp">
                <myViewSettings v-show="displaySettings" @showSettingsUpdated="showSettingsUpdated"></myViewSettings>
            </transition>
        </div>
    </div>
</template>
<script>
import _ from "lodash";
import MassActions from "./MassActions.vue";
import ProxyDescription from "./ProxyListDescription.vue";
import ProxyItem from "./ProxyItem.vue";
import ViewSettings from "./ViewSettings.vue";

export default {
    props: ["proxyList"],
    components: {
        myMassActions: MassActions,
        myProxyDescription: ProxyDescription,
        myProxyItem: ProxyItem,
        myViewSettings: ViewSettings
    },
    data() {
        return {
            displaySettings: false,
            sortType: null,
            pagination: {
                page: 1,
                pageSize: 4,
                pageCount: 0,
                allItems: [],
                items: []
            }
        };
    },
    computed: {
        allSelected() {
            if (this.proxyList.length === 0) return false;
            return (
                this.proxyList.length ===
                this.proxyList.filter(proxy => {
                    return proxy.selected === true;
                }).length
            );
        },
        itemsNotSelected() {
            return (
                this.proxyList.filter(proxy => {
                    return proxy.selected === true;
                }).length === 0
            );
        },
        sotrtedProxyList() {
            if (this.sortType === null || this.sortType === "None")
                return this.proxyList;
            else if (this.sortType === "Expiration date ↑") {
                return this.proxyList.sort((a, b) => {
                    return a.TTL_minutes - b.TTL_minutes;
                });
            } else if (this.sortType === "Expiration date ↓") {
                return this.proxyList.sort((a, b) => {
                    return b.TTL_minutes - a.TTL_minutes;
                });
            } else if (this.sortType === "Comment ↑") {
                return this.proxyList.sort((a, b) => {
                    return a.descr.localeCompare(b.descr);
                });
            } else if (this.sortType === "Comment ↓") {
                return this.proxyList.sort((a, b) => {
                    return b.descr.localeCompare(a.descr);
                });
            }
        },
        resultItems() {
            return this.setupPaginations(this.sotrtedProxyList);
        }
    },
    methods: {
        seletcProxies(selectValue) {
            for (let proxy of this.proxyList) {
                proxy.selected = selectValue;
            }
        },
        changeShow() {
            this.displaySettings = !this.displaySettings;
        },
        showSettingsUpdated(params) {
            this.sortType = params.selectedSort;
            this.$emit("showSettingsUpdated", params);
        },
        setupPaginations(proxyList) {
            this.allItems = _.chunk(proxyList, this.pagination.pageSize);
            this.pageCount = _.size(this.allItems);
            this.pagination.items =
                this.allItems[this.pagination.page - 1] || this.allItems[0];
            return this.pagination.items;
        },
        nextPage() {
            this.pagination.items =
                this.allItems[this.pagination.page + 1] || this.allItems[0];
        },
        previousPage() {
            this.pagination.items =
                this.allItems[this.pagination.page - 1] || this.allItems[0];
        }
    }
};
</script>
<style scoped>
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap > div {
    position: relative;
    z-index: 1;
}
.no_items {
    margin-top: 50px;
    text-align: center;
}
.moveInUp-enter-active {
    animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
    0% {
        transform: translateX(-230px);
    }
    100% {
        transform: translateX(0);
    }
}
.moveInUp-leave-active {
    animation: moveInUp 0.5s ease-in;
}
@keyframes moveInUp {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-230px);
    }
}
</style>
<style>
.list_wrap > div:nth-child(2n) {
    background: #252525 !important;
}
.list_wrap > div:nth-child(2n + 1) {
    background: #303030 !important;
}
</style>