<template>
    <transition name="proxyAnimate" mode="in-out" appear>
        <div class="proxy_item">
            <myProxyCheckbox :selected="proxy.selected" :proxyId="proxyId"></myProxyCheckbox>
            <myProxyIpType :country="proxy.country" :type="proxy.version"></myProxyIpType>
            <myProxyInfo
                :host="proxy.host"
                :port="proxy.port"
                :user="proxy.user"
                :password="proxy.pass"
                :protocol="proxy.type"
                :ip="proxy.ip"
            ></myProxyInfo>
            <myProxyDueDate :date="proxy.date_end" :days="proxy.TTL" :ttl="proxy.TTL_hours"></myProxyDueDate>
            <myProxyComment :comment="proxy.descr" :proxyId="proxyId"></myProxyComment>
            <myProxyActions :proxyId="proxyId"></myProxyActions>
        </div>
    </transition>
</template>
<script>
import ProxyActions from "./ProxyItemParts/ProxyActions.vue";
import ProxyCheckbox from "./ProxyItemParts/ProxyCheckbox.vue";
import ProxyComment from "./ProxyItemParts/ProxyComment.vue";
import ProxyDueDate from "./ProxyItemParts/ProxyDueDate.vue";
import ProxyInfo from "./ProxyItemParts/ProxyInfo.vue";
import ProxyIpType from "./ProxyItemParts/ProxyIpType.vue";

export default {
    props: ["proxy", "proxyId"],
    components: {
        myProxyActions: ProxyActions,
        myProxyCheckbox: ProxyCheckbox,
        myProxyComment: ProxyComment,
        myProxyDueDate: ProxyDueDate,
        myProxyInfo: ProxyInfo,
        myProxyIpType: ProxyIpType
    }
};
</script>
<style scoped>
div > * {
    border: 1px solid #512222;
}
.proxy_item {
    display: flex;
    height: 167px;
    margin: -2px 0;
}
.proxyAnimate-enter-active {
    animation: fadeIn 0.6s cubic-bezier(0.5, 0.07, 0.29, 1.27);
}
@keyframes fadeIn {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0);
    }
}
.proxyAnimate-move {
    transition: transform 1s;
}
.proxyAnimate-leave-active {
    display: none;
}
</style>
<style>
.dotted_line {
    border-bottom: 1px dotted #fff;
    flex-grow: 0.96;
}
.red_background {
    background-color: rgba(215, 0, 0, 0.89);
}

.orange_background {
    background-color: rgba(251, 140, 0, 0.92);
}
.green_background {
    background-color: rgba(32, 210, 21, 0.89);
}
</style>
