<template>
    <div class="wrap">
        <div class="special">
            <v-switch v-model="selectAll" color="red" hide-details :disabled="itemsCount"></v-switch>
        </div>
        <div colspan="2">Info</div>
        <div>Due Date</div>
        <div>Comment</div>
        <div>
            <v-btn @click="showSettings">
                <span class="material-icons">settings</span>
            </v-btn>
        </div>
    </div>
</template>
<script>
export default {
    props: ["allSelected", "itemsCount"],
    data() {
        return {
            dispalaySettings: false
        };
    },
    computed: {
        selectAll: {
            get() {
                return this.allSelected;
            },
            set() {
                this.$emit("switchChanged", !this.selectAll);
            }
        }
    },
    methods: {
        showSettings() {
            this.$emit("showSettings");
        }
    }
};
</script>
<style scoped>
.wrap {
    display: flex;
}
.wrap > div {
    border: 1px solid #512222;
    height: 64px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div:nth-child(2) {
    min-width: 474px;
}
div:nth-child(3) {
    min-width: 220px;
}
div:nth-child(4) {
    min-width: 170px;
}
.special {
    padding: 8px 8px 8px 16px !important;
}
.v-input--selection-controls {
    margin: 0 !important;
    padding: 0 !important;
}
.v-btn:not(.v-btn--round).v-size--default {
    min-width: 45px;
    padding: 8px;
    height: 45px;
}
.material-icons {
    color: #f44336;
}
</style>