<template>
    <div class="wrap">
        <div>
            <v-select
                dense
                outlined
                hide-details
                :items="version"
                label="Version"
                v-model="selectedVersion"
                @change="showSettingsUpdated"
            ></v-select>
        </div>
        <div>
            <v-select
                dense
                outlined
                hide-details
                :items="type"
                label="Type"
                v-model="selectedType"
                @change="showSettingsUpdated"
            ></v-select>
        </div>
        <div>
            <v-select
                dense
                outlined
                hide-details
                :items="sort"
                label="Sort"
                v-model="selectedSort"
                @change="showSettingsUpdated"
            ></v-select>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            version: ["None", "IPv6", "IPv4", "IPv4s"],
            type: ["None", "HTTPs", "SOCKS5"],
            sort: [
                "None",
                "Expiration date ↑",
                "Expiration date ↓",
                "Comment ↑",
                "Comment ↓"
            ],
            selectedVersion: null,
            selectedType: null,
            selectedSort: null
        };
    },
    methods: {
        showSettingsUpdated() {
            this.$store.commit("unselectAllItems");
            this.$emit("showSettingsUpdated", {
                selectedVersion: this.selectedVersion,
                selectedType: this.selectedType,
                selectedSort: this.selectedSort
            });
        }
    }
};
</script>
<style scoped>
.wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 140px;
    top: 54px;
    right: -235px;
    z-index: -1;
}
.wrap > div {
    width: 225px !important;
}
</style>