<template>
    <v-dialog v-model="modal" width="500px" transition="dialog-transition">
        <template v-slot:activator="{ on }">
            <v-btn color="error" slot="activator" v-on="on">Add Comment</v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="text--primary">Change comment</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-text>
                            <v-text-field
                                name="newComment"
                                label="New comment"
                                type="text"
                                v-model="changedComment"
                                multi-line
                            ></v-text-field>
                        </v-card-text>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="onCancel">Cancel</v-btn>
                            <v-btn class="success" @click="onSave">Save</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>
<script>
export default {
    props: ["comment", "proxyId"],
    data() {
        return {
            modal: false,
            changedComment: this.comment
        };
    },
    methods: {
        onCancel() {
            this.changedComment = this.comment;
            this.modal = false;
        },
        onSave() {
            if (this.editedDescription !== "") {
                this.$emit("changeLoading", true);
                this.modal = false;
                this.$store
                    .dispatch("changeComment", {
                        newComment: this.changedComment,
                        proxyId: this.proxyId
                    })
                    .then(() => {
                        this.$emit("changeLoading", false);
                    });
            }
        }
    }
};
</script>