<template>
    <div class="proxy_due_date">
        <div class="wrap">
            <div class="due_date">
                <div class="date">Date</div>
                <div class="dotted_line"></div>
                <div class="date_value" :class="textColor">{{date}}</div>
            </div>
            <div class="due_days">
                <div class="days">Days</div>
                <div class="dotted_line"></div>
                <div class="days_value TTL_container" :class="backgroundColor">{{days}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ["date", "days", "ttl"],
    computed: {
        textColor() {
            if (this.ttl < 24) {
                return "red_text";
            } else if (this.ttl < 72) {
                return "orange_text";
            } else return "green_text";
        },
        backgroundColor() {
            if (this.ttl < 24) {
                return "red_background";
            } else if (this.ttl < 72) {
                return "orange_background";
            } else return "green_background";
        }
    }
};
</script>
<style scoped>
.wrap {
    height: 140px;
}
.proxy_due_date {
    width: 220px;
    padding: 8px;
}
.due_date,
.due_days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 3s all ease;
}
.TTL_container {
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
}
.red_text {
    color: rgba(215, 0, 0, 0.89);
}

.orange_text {
    color: rgba(251, 140, 0, 0.92);
}

.green_text {
    color: rgba(32, 210, 21, 0.89);
}
</style>