<template>
    <div class="proxy_proxy_actions">
        <div class="proxy_operations">
            <v-btn
                @click="checkProxy"
                :class="checkResultClass"
                :loading="checkBtnLoading"
                :disabled="disabled"
            >
                <v-icon v-if="!checked">visibility</v-icon>
                <v-icon v-else-if="checked && checkResult">thumb_up</v-icon>
                <v-icon v-else-if="checked && !checkResult">thumb_down</v-icon>
            </v-btn>
            <v-btn @click="deleteProxy" :loading="deleteBtnLoading" :disabled="disabled">
                <v-icon>delete_forever</v-icon>
            </v-btn>
        </div>
    </div>
</template>
<script>
export default {
    props: ["proxyId"],
    data() {
        return {
            checked: false,
            checkResult: null,
            checkBtnLoading: false,
            deleteBtnLoading: false,
            disabled: false
        };
    },
    computed: {
        checkResultClass() {
            if (this.checkResult) return "green_background";
            else if (this.checkResult === false) return "red_background";
        }
    },
    methods: {
        deleteProxy() {
            this.disabled = true;
            this.deleteBtnLoading = true;
            this.$store.dispatch("deleteProxy", [this.proxyId]).then(() => {
                this.disabled = false;
                this.deleteBtnLoading = false;
            });
        },
        checkProxy() {
            if (this.checked) return;
            this.disabled = true;
            this.checkBtnLoading = true;
            this.$store
                .dispatch("checkProxy", [this.proxyId])
                .then(response => {
                    this.disabled = false;
                    this.checkBtnLoading = false;
                    this.checked = true;
                    this.checkResult = response.proxy_status;
                    setTimeout(() => {
                        this.resetCheck();
                    }, 3000);
                });
        },
        resetCheck() {
            this.checked = false;
            this.checkResult = null;
        }
    }
};
</script>
<style scoped>
.proxy_proxy_actions {
    display: flex;
    align-items: center;
    width: 64px;
    padding: 8px;
}
.proxy_operations {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.v-btn:not(.v-btn--round).v-size--default {
    min-width: 45px;
    padding: 8px;
    height: 45px;
}
.red_background {
    background-color: rgba(215, 0, 0, 0.89) !important;
}
.green_background {
    background-color: rgba(17, 255, 0, 0.59) !important;
}
</style>
<style>
</style>