<template>
    <div class="proxy_info">
        <div class="proxy">
            <div class="proxy_address">
                Proxy
                <span>IP:PORT</span>
            </div>
            <div class="dotted_line"></div>
            <div class="test proxy_address_value">
                <b>{{host}}:{{port}}</b>
            </div>
        </div>
        <div class="proxy">
            <div class="proxy_login">Login</div>
            <div class="dotted_line"></div>
            <div class="proxy_login_value">
                <b>{{user}}</b>
            </div>
        </div>
        <div class="proxy">
            <div class="proxy_password">Password</div>
            <div class="dotted_line"></div>
            <div class="proxy_password_value">
                <b>{{password}}</b>
            </div>
        </div>
        <div class="proxy">
            <div class="proxy_type">Type</div>
            <div class="dotted_line"></div>
            <div :class="protocolColor">{{protocol}}</div>
        </div>
        <div class="proxy">
            <div>IPv6</div>
            <div class="dotted_line"></div>
            <div class="proxy_value">
                <span>{{ip}}</span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ["host", "port", "user", "password", "protocol", "ip"],
    computed: {
        protocolColor() {
            if (this.protocol === "HTTPs") {
                return "https";
            } else return "socks";
        }
    }
};
</script>
<style scoped>
.proxy_info {
    width: 385px;
    padding: 8px;
}
.proxy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    transition: 3s all ease;
}
.proxy span {
    color: #888;
}
.proxy_value {
    font-size: 16px;
}
.https {
    display: block;
    background-color: rgb(0, 109, 255);
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
    transition: all 2s ease;
}
.socks {
    display: block;
    background-color: rgb(119, 0, 255);
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
    transition: all 2s ease;
}
</style>
