<template>
    <div>
        <v-switch v-model="localSelected" @ color="red" hide-details></v-switch>
    </div>
</template>
<script>
export default {
    props: ["selected", "proxyId"],
    data() {
        return {
            localSelected: this.selected
        };
    },
    watch: {
        selected: function() {
            this.localSelected = this.selected;
        },
        localSelected: function() {
            this.$store.commit("selectProxyItem", {
                proxyId: this.proxyId,
                localSelected: this.localSelected
            });
        }
    }
};
</script>
<style scoped>
.v-input--selection-controls {
    margin: 0 !important;
    padding: 0 !important;
}
div {
    padding: 8px 8px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>