<template>
    <div>
        <p class="proxy_country">{{country}}</p>
        <p class="proxy_ip_type" :class="backgroundColor">{{type}}</p>
    </div>
</template>
<script>
export default {
    props: ["country", "type"],
    computed: {
        backgroundColor() {
            if (this.type === "IPv6") {
                return "ipv6";
            } else if (this.type === "IPv4") {
                return "ipv4";
            } else return "ipv4s";
        }
    }
};
</script>
<style scoped>
div {
    text-align: center;
    padding: 8px;
}
.proxy_country {
    font-size: 19px;
    margin-top: 10px;
}
.cheking {
    background-color: rgba(255, 255, 0, 0.64);
}
.cheking_result_true {
    background-color: rgba(36, 255, 0, 0.63);
}

.cheking_result_false {
    background-color: rgba(219, 0, 68, 0.63);
}
.proxy_ip_type {
    padding: 3px 20px;
    display: flex;
    border-radius: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.ipv6 {
    background-color: rgb(51, 51, 192);
}

.ipv4 {
    background-color: rgb(105, 53, 191);
}

.ipv4s {
    background-color: rgb(21, 127, 108);
}
</style>