<template>
    <div class="proxy_comment">
        <div class="wrap">
            <myChangeCommentModal
                @changeLoading="updateLoading"
                :comment="comment"
                :proxyId="proxyId"
            ></myChangeCommentModal>
            <v-text-field :value="comment" :loading="loading" single-line readonly></v-text-field>
        </div>
    </div>
</template>
<script>
import changeCommentModal from "./changeCommentModal.vue";
export default {
    props: ["comment", "proxyId"],
    data() {
        return {
            loading: false
        };
    },
    components: {
        myChangeCommentModal: changeCommentModal
    },
    methods: {
        updateLoading(value) {
            this.loading = value;
        }
    }
};
</script>
<style scoped>
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.proxy_comment {
    width: 170px;
    padding: 8px;
}
.add_comment {
    width: 75px;
    display: flex;
    align-items: center;
}
</style>