<template>
    <v-app>
        <my-nav-bar :links="links" :drawer="drawer" @drawerUpdated="drawer = !drawer"></my-nav-bar>
        <my-user-info></my-user-info>
        <my-drawer :links="links" :drawer="drawer" @drawerUpdated="drawer = $event"></my-drawer>
        <v-content app class="ma-0 pa-0 my_slowly">
            <transition name="moveInUp" mode="out-in" appear>
                <router-view></router-view>
            </transition>
        </v-content>
        <my-footer app :links="links"></my-footer>
        <template v-if="success">
            <v-snackbar :value="true" :top="true" :timeout="7000" class="snackbar_margin" dark>
                Action completed successfully!
                <v-btn color="green" text @click="clearSuccess">Close</v-btn>
            </v-snackbar>
        </template>
        <template v-if="error">
            <v-snackbar
                :value="true"
                :top="true"
                :timeout="7000"
                :multi-line="true"
                dark
                class="snackbar_margin"
            >
                {{ error }}
                <v-btn color="pink" text @click="clearError">Close</v-btn>
            </v-snackbar>
        </template>
    </v-app>
</template>

<script>
import NavBar from "./components/Pages/Shared/NavBar";
import Drawer from "./components/Pages/Shared/Drawer";
import Footer from "./components/Pages/Shared/Footer";
import UserInfo from "./components/Pages/Shared/UserInfo";

export default {
    data() {
        return {
            drawer: false
        };
    },
    computed: {
        links() {
            if (this.$store.getters.isUserLoggedIn) {
                return [
                    {
                        icon: "add_shopping_cart",
                        title: "Buy Proxy",
                        url: "/buy"
                    },
                    { icon: "list", title: "My Proxies", url: "/my_proxies" },
                    {
                        icon: "monetization_on",
                        title: "Prices",
                        url: "/prices"
                    },
                    { icon: "contact_support", title: "FAQ", url: "/faq" },
                    {
                        icon: "alternate_email",
                        title: "Contact Us",
                        url: "/contact_us"
                    },
                    { icon: "info", title: "About Us", url: "/about_us" }
                ];
            }
            return [
                {
                    icon: "monetization_on",
                    title: "Prices",
                    url: "/prices"
                },
                { icon: "contact_support", title: "FAQ", url: "/faq" },
                {
                    icon: "alternate_email",
                    title: "Contact Us",
                    url: "/contact_us"
                },
                { icon: "info", title: "About Us", url: "/about_us" },
                { icon: "lock", title: "Login", url: "/login" },
                {
                    icon: "account_circle",
                    title: "Registration",
                    url: "/registration"
                }
            ];
        },
        error() {
            return this.$store.getters.error;
        },
        success() {
            return this.$store.getters.success;
        }
    },
    components: {
        myFooter: Footer,
        myDrawer: Drawer,
        myNavBar: NavBar,
        myUserInfo: UserInfo
    },
    methods: {
        clearError() {
            this.$store.dispatch("clearError");
        },
        clearSuccess() {
            this.$store.commit("clearSuccess");
        }
    },
    created() {
        this.$vuetify.theme.dark = true;
    }
};
</script>
<style>
.snackbar_margin {
    margin-top: 70px;
    font-size: 20px !important;
}

.moveInUp-enter-active {
    animation: fadeIn 0.3s ease-in;
}
@keyframes fadeIn {
    0% {
        transform: translateX(1500px);
    }
    100% {
        transform: translateX(0);
    }
}
.moveInUp-leave-active {
    animation: moveInUp 0.3s ease-in;
}
@keyframes moveInUp {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1500px);
    }
}
.my_slowly {
    overflow: hidden;
    max-height: 3500px !important;
    transition: all 1s ease;
}
</style>>